# Default owners are maintainers
* @ai-dynamo/nixl-maintainers

# CI/CD
/.github/ @ai-dynamo/Devops @ai-dynamo/nixl-devops
/.ci/ @ai-dynamo/nixl-devops
CODEOWNERS @ai-dynamo/Devops @ai-dynamo/nixl-maintainers

# Legal
/ATTRIBUTIONS.md @ai-dynamo/Devops
/CODE_OF_CONDUCT.md @ai-dynamo/Devops
/CONTRIBUTING.md @ai-dynamo/Devops @ai-dynamo/nixl-maintainers
/LICENSE @ai-dynamo/Devops
/SECURITY.md @ai-dynamo/Devops

# Bindings
/src/bindings/rust @ai-dynamo/nixl-maintainers @roiedanino @gleon99

# UCX Plugins
/src/plugins/ucx* @ai-dynamo/nixl-maintainers @brminich @yosefe @gleon99
/src/utils/ucx @ai-dynamo/nixl-maintainers @brminich @yosefe @gleon99

# Storage Plugins
/src/plugins/posix @ai-dynamo/nixl-maintainers @w1ldptr @barneuman @etoledano
/src/plugins/hf3fs @ai-dynamo/nixl-maintainers @w1ldptr @barneuman @etoledano
/src/plugins/cuda_gds @ai-dynamo/nixl-maintainers @w1ldptr @barneuman @etoledano
/src/plugins/obj @ai-dynamo/nixl-maintainers @w1ldptr @barneuman @etoledano

# Benchmarks
/benchmark @ai-dynamo/nixl-maintainers @aranadive @ovidiusm @brminich
